@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead"><strong>"Programming Test"</strong> é uma aplicação web desenvolvida por Felipe Antunes, ela utiliza filtros para apresentar um extrato bancário de maneira organizada e eficiente</p>
</div>



